{% load thumbnail %}
<article>
    <ul>
        <li>Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:profile' post.author.username %}">все посты
                пользователя</a>
        </li>
        <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
    </ul>
    {% thumbnail post.image "960x360" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <h3>{{ post.theme }}</h3>
    <p>{{ post.text|linebreaksbr }}</p>
    <p><a class="links" href="{% url 'posts:post_detail' post.id %}">Подробнее |

        <a class="links" href="{% url 'posts:post_detail' post.id %}">Комментарии<i class="fa-light fa-comments"></i>{{ post.comments.count }}|</a>

    </a>

    {% if post.group %}
        <a class="links" href="{% url 'posts:group_list' post.group.slug %}">все записи
            группы: {{ post.group.title }}</a>
    {% endif %}

        {% if post.author.username == user.username %}
                    <a href="{% url 'posts:post_delete' post.id %}"
                       class="btn-sm links align-right"
                       role="button">Удалить</a>
                {% endif %}
</p>
</article>
