{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <img src="/static/about/me.png" alt="me" class="rounded" height="300vh">
  </div>
  <div class="col-md-8">
    <h1>Платонов сергей</h1>
    <h6>div чего-то там и вот я что-то наверстал.</h6>
    <p>Приветсвую всех пришедших, проходящих и из любопытсва встающих на носочки посмотреть, что же тут такое.
      А тут я Сергей Платонов и хочу рассказать немного о себе.
      Большую часть жизни увлекался музыкой, писал, играл, подыгрывал, ходил на всякие джемсейсии. Даже успел написать заключительный саундтрек для полнометражного фильма, что крутили в кинотеатрах. Занимался на разных инструментах таких как: <br>
      <ul>
        <li>Гитара</li>
        <li>Виолончель</li>
        <li>Ударные</li>
        <li>Укулеле</li>
        <li>Всякое шумовое</li>
        <li>Электронная музыка</li>
      </ul>
        Работал в реклмной индустрии(от скучного менеджера, до веселого монтажника), работал барменом, официантом, но после
        прыжка с парашютом сломал ногу, валялся дома играл игрушки, затем они надоели и решил обратиться к Ya нее Youtube с просьбой 
        показать, да рассказать как же делаються сайты. На что получил простой ответ, что стоит начать с понимания, как отображаются сайты 
        у меня на мониторе. Так я познакомился с версткой. Не могу сказать, что мне это прям очень сильно понравилось, но навык не будет лишним подумал я и забыл про это на долгое время. <br>
        Затем неведомыми нитями я стал художником)) Да, да начал рисовать граффити за деньги, хоть и особым скилом рисования я не отличался никогда(разве что лет до 5, мама говорила, что: "Класс, пусть повисит на холодильнике"). И вот по сей день я езду по стране и несу людям радость посредством оформления стен. А питонистом я решил стать, опять же а почему бы и нет. Навык не будет лишним, и как-то после прохождения вводного курса, понял, что хочу продолжать. Это немного затягивает, постоянная борьба с самим собой, приходиться улучшать тайм-менеджмент ведь часто приходиться находиться не дома(например этот текст я пишу в отеле под названием "Валенсия" в городе Сыктывкар!). Знаю одно точно, слудующий курс будет о копирайтинге) я очень плохо пишку тексты) но и никогда не претендовал быть в этом лучшим.
    </p>
      <h3>Пара ссылок, что больше расскажут обо мне</h3>
      <ul>
        <li><a href="artspray.ru">Моя любимая работа</a></li>
        <li><a href="youtube.com/shyguy">Мои лайвлупы, что я забросил, но думаю еще к ним вернусь</a></li>
        <li><a href="https://github.com/platonov1727">GitHub</a></li>
      </ul>
  </div>
  </div>
  


</div>
{% endblock %} 