{% load thumbnail %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">Все посты
        пользователя{{ author.username }}</li>
    <li class="list-group-item">Всего
        постов:{{ author.posts.count }}</li>
    <li class="list-group-item">Отслеживают:
        {{ followers_count }} </li>
    <li class="list-group-item">
        {% if author.username %}Подписан на:{{ followings_count }}
                авторами
        {% endif %}
    </li>
    <li class="list-group-item">{% if following %}
        <a
                class="btn btn-sm btn-outline-danger"
                href="{% url 'posts:profile_unfollow' author.username %}"
                role="button"
        >
            Отписаться
        </a>
    {% else %}
        <a
                class="btn btn-sm btn-primary"
                href="{% url 'posts:profile_follow' author.username %}"
                role="button"
        >
            Подписаться
        </a>
    {% endif %}</li>
</ul>