{% extends 'base.html' %}
{% block title %}
    профайл пользователя {{ user }}
{% endblock title %}
{% block content %}
    <main>

        <div class="container mt-3">
            <div class="row">
                <aside class="col-12 col-md-3">
                    {% include 'posts/includes/profile_settings.html' %}
                </aside>
            <article class="col-12 col-md-9">
                    {% for post in page_obj %}
                {% include 'includes/article.html' %}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
            {% include 'posts/includes/paginator.html' %}
            </article>

            </div>

        </div>


    </main>
{% endblock content %}