{% extends 'base.html' %}
{% block title %}
профайл пользователя {{ user }}
{% endblock title %}
{% block content %}
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя {{ author.username  }}</h1>
        <h3>Всего постов: {{ author.posts.count }} </h3>
        <h6>Отслеживают: {{ followers_count }} </h6>
      {% if author.username %}
      <h6>Cледит за: {{ followings_count }} авторами</h6>
      {% endif %}
      {% if following %}
    <a
      class="btn btn-sm btn-outline-danger"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-sm btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
        {% for post in page_obj %}
        {% include 'includes/article.html' %}
          {% if not forloop.last %}
           <hr>
         {% endif %}
      {% endfor %}
      
        {% comment %} <a href=" {% url 'posts:group_list' post.group.slug %} ">все записи группы</a>         {% endcomment %}

        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
    {% endblock content %}